* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* --------------------HEADER------------------------- */

  .carritoContador {
    color: whitesmoke;
    font-size: 1.2em;
  }
  header {
    background-color: #e74423;
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  header a:hover {
    cursor: pointer;
    color: #393333 !important;
    transition: all 1s ease-in-out;
  }
  
  .logo {
    border-radius: 50%;
  }
  
  .carrito-decompras {
    filter: invert(90%);
  }
  
  .carrito-decompras:hover {
    filter: invert(20%);
    transition: all 1s ease-in-out;
  }
  
  /* --------------------MODAL CART------------------------- */
  
  .modal-header {
    background-color: #e74423;
    color: whitesmoke;
  }
  
  #btn-clear {
    text-transform: uppercase;
  }
  
  #btn-finish {
    text-transform: uppercase;
  }
  
  .modal-active {
    opacity: 1;
    visibility: hidden;
  }
  /* --------------------INICIO------------------------- */
  
  .inicio {
    background: url("../images/fondo-white") center no-repeat;
    position: relative;
    color: white;
    height: 100vh;
    background-size: cover;
    width: 100%;
    overflow: hidden;
  }
  
  .inicio h1,
  h2 {
    font-style: italic;
    font-size: 6rem;
  }
  
  .title-main {
    color: #e74423;
  }
  
  .gif-banner {
    left: 10%;
    position: absolute;
    z-index: 2;
    height: 100%;
    animation: spinner 7s infinite linear;
    pointer-events: none;
    height: 100%;
    padding-top: 3rem;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(360deg);
    }
  }
  
  .conteiner-black {
    width: 100%;
    height: 100%;
    z-index: 5;
    clip-path: polygon(52% 0, 100% 0, 100% 100%, 30% 100%);
  }
  
  .conteiner-black a {
    text-decoration: none;
    color: white;
  }
  
  .conteiner-black a:hover {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }
  
  .flecha {
    height: 55px;
  }
  
  .icon-menu {
    filter: invert(100%);
  }
  
  /* --------------------MENU------------------------- */
  
  .container-products {
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-radius: 0.5rem;
  }
  
  .menu-icons:hover {
    transform: scale(1.16);
    transition: all 1s ease-in-out;
    cursor: pointer;
    border: solid 2px #e74423;
  }
  
  .title-products {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .colum-1 {
    background-color: #393333;
    height: 100%;
    width: 100%;
    color: black;
    padding: 1rem;
  }
  
  .colum-2 {
    background-color: #393333;
    height: 100%;
    color: black;
    padding: 1rem;
  }
  
  .colum-3 {
    background-color: #393333;
    height: 100%;
    color: black;
    padding: 1rem;
  }
  
  /* .btn-order  */
  .products {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* ---------------------NOSOTROS--------------*/
  .our {
    line-height: 1.5rem;
    /* background-color: lightgray; */
  }
  
  .img-local {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  
  .fixed-btn {
    position: fixed;
    right: 20px;
    bottom: 70px;
    background-color: green;
    width: 35px;
    height: 35px;
    color: #f2f2f2;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 4px 0 black;
    transition: all 300ms;

}


.fixed-btn svg {
    line-height: 35px;
}


.fixed-btn:hover {
    width: 41px;
    height: 41px;  
    right: 17px;
    bottom: 67px;
}

.fixed-btn:hover svg{
    line-height: 41px;
    color: #f2f2f2;

}

  /*----------------FOOTER---------------*/
  footer {
    background-color: #e74423;
    color: whitesmoke;
  }
  
  footer a {
    color: whitesmoke !important;
  }
  
  footer a:hover {
    color: #393333 !important;
    transition: all 1s ease-in-out;
  }
  
  .copyright-styles {
    background-color: black;
    color: whitesmoke;
  }
  
  .copyright-styles a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .copyright-styles a:hover {
    text-decoration: none;
    color: #e74423 !important;
    transition: all 1s ease-in-out;
  }
  
  /* MQ MOBILE INDEX */
  /* navbar */
  @media screen and (max-width: 800px) {
    .navbar-collapse {
      height: 100vh;
      padding-top: 4rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .navbar-nav {
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .cart-icon {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  
  /* ----------------------MQ------------------- */
  @media screen and (max-width: 425px) {
    .menu-icons {
      border: solid 2px black;
      border-radius: 40%;
      padding: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .products {
      height: 100vh;
    }
  
    .menu-icons {
      border: solid 2px black;
      border-radius: 40%;
      padding: 1.5rem;
    }
  
    .square-prods {
      border: 3px solid;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 1.5rem;
    }
  
    .icon-div {
      margin-left: 5rem;
    }
  
    .our {
      height: 100vh;
    }
  }
  
  /* cart styles */
  .cart-icon {
    padding-bottom: 0.5rem;
  }