* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header */
header {
    background-color: rgba(0, 122, 51);
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1rem solid black;
}

header a:hover {
    cursor: pointer;
    cursor: url('https://res.cloudinary.com/dmatgvjjy/image/upload/v1677683944/don%20remolo/porcion-de-pizza_vhah2n.png'), auto;
    color: #FFB84C !important;
    transition: all 1s ease-in-out;
}

.logo {
    border-radius: 50%;
}

/* Modal cart */

.modal-active {
    opacity: 1;
    visibility: hidden; }

/* inicio */

.inicio {
    background-color: rgb(227, 0, 0);
    position: relative;
    color: white;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    width: 100%;
    z-index: 1;
}

.gif-banner {
    left: 7%;
    position: absolute;
    z-index: 2;
}

.conteiner-black {
    background-color: black;
    width: 15rem;
    height: 15rem;
    z-index: 5;
    color: whitesmoke;
}

/* menu */
.container-products {
    border: 0.1rem solid black;
    border-radius: .5rem;
}



.menu-icons:hover {
    transform: scale(1.16);
    transition: all 1s ease-in-out;
    cursor: pointer;
    border: solid 2px rgb(234, 7, 1);

}

.title-products {
    font-size: 4rem;
    font-weight: bold;
}

/* .btn-order  */

.products {
    width: 100%;
}

/* nosotros */
.our {
    line-height: 1.5rem;
    /* background-color: lightgray; */
}


.img-local {
    height: 100%;
    width: 100%;
}


/* footer */
footer {
    background-color: rgb(45, 131, 52);
    color: white;
}

footer a {
    color: white !important;

}

footer a:hover {
    color: #FFB84C !important;
    transition: all 1s ease-in-out;

}

.copyright-styles {
    background-color: black;
    color: whitesmoke;
}

.copyright-styles a {
    text-decoration: none;
    color: whitesmoke;
}

.copyright-styles a:hover {
    text-decoration: none;
    color: #FFB84C !important;
    transition: all 1s ease-in-out;
}




/* MQ MOBILE INDEX */
/* navbar */
@media screen and (max-width: 800px) {
    .navbar-collapse {
        height: 100vh;
        padding-top: 4rem;
    }

}

@media screen and (max-width: 800px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }

}


@media screen and (max-width: 800px) {
    .cart-icon {
        height: 3.5rem;
        width: 3.5rem;
    }
   
}


/* main */
@media screen and (max-width: 425px) {
    .menu-icons {
        border: solid 2px black;
        border-radius: 40%;
        padding: 0.5rem;
    }

}

@media screen and (min-width: 1000px) {
    .products {
        height: 100vh;
    }

    .menu-icons {
        border: solid 2px black;
        border-radius: 40%;
        padding: 1.5rem;
    }

    .square-prods {
        border: 1px solid;
        border-radius: 5%;
        padding: 1.5rem;
    }
    .icon-div{
        margin-left: 5rem;
    }

    .our {
        height: 100vh;
    }
}



/* cart styles */
.cart-icon {
    padding-bottom: 0.5rem;
}

.shop-container {
    padding-top: 8rem;
}

.title-shop {
    border-bottom: 5px solid rgb(45, 131, 52);
}

/* MQ MOBILE SECTION CART */
@media screen and (max-width: 425px) {
    .shop-container {
        padding-top: 4rem;
    }
}